{% extends 'base.html' %}

{% block title %}Manage Categories{% endblock %}

{% block content %}
    <div class="d-flex pt-3 pb-2">
        <h1 class="mr-auto">
            Categories <small class="text-muted">{{ categories|length }}</small>
        </h1>
        <span class="my-auto"><a href="{{ url_for('.new_category') }}" class="btn btn-outline-primary">New Category</a></span>
    </div>
    {% if categories %}
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th>No.</th>
                <th>Name</th>
                <th>Posts</th>
                <th>Operate</th>
            </tr>
            </thead>
            {% for category in categories %}
                <tr>
                    <th>{{ loop.index }}</th>
                    <th>
                        <a href="{{ url_for('blog.show_category', category_name=category.name) }}">{{ category.name }}</a>
                    </th>
                    <th>{{ category.posts|length }}</th>
                    <th>
                        {% if category.id != 1 %}
                            <a href="{{ url_for('.edit_category', category_name=category.name) }}" class="mr-1 btn btn-sm btn-info">Edit</a>
                            <form method="post" class="d-inline"
                                  action="{{ url_for('.delete_category', category_name=category.name) }}">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                <button type="submit" class="btn btn-sm btn-danger"
                                        onclick="return confirm('Are you serious?');">Delete
                                </button>
                            </form>
                        {% endif %}
                    </th>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div class="mt-5 alert alert-dismissible alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4 class="alert-heading">Oops!</h4>
            <p class="mb-0">You shouldn't see me, there must be something wrong...
                <a href="{{ url_for('admin.new_category') }}" class="alert-link">Click here to create a new one and go on.</a>.</p>
        </div>
    {% endif %}

{% endblock %}