{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}New Post{% endblock %}

{% block content %}
    <div class="pt-3 pb-2">
        <h1>New Post</h1>
    </div>
    {{ render_form(form) }}
{% endblock %}

{% block scripts %}
    {{ super() }}
{#    {{ pagedown.include_pagedown() }}#}
    <script type="text/javascript" src="{{ url_for('static', filename='pagedown-extra/pagedown/Markdown.Converter.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='pagedown-extra/pagedown/Markdown.Sanitizer.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='pagedown-extra/Markdown.Extra.js') }}"></script>
{% endblock %}