{% extends 'base.html' %}

{% block nav %}{% endblock %}

{% block title %}400 Bad Request{% endblock %}

{% block content %}
    <div class="mt-5 text-center">
        <h1 class="display-1">Boo! 400.</h1>
        <p class="lead">Maybe you wrong, or maybe my mistake.<br>
            Just a {{ description|default('Bad Request')}}.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{ url_for('blog.index') }}" role="button">Take Me Home</a>
        </p>
    </div>
{% endblock %}

{% block footer %}{% endblock %}