{% if posts %}
    {% for post in posts %}
        <div class="container-md my-4">
            <span class="text-muted my-auto">{{ moment(post.timestamp).format('L') }}</span>
            <h3 class="fs-1 text-primary my-auto">
                <a href="{{ url_for('.show_post', slug=post.slug) }}">{{ post.title }}</a>
            </h3>
        </div>
    {% endfor %}
{% else %}
    <div class="mt-5 text-center">
        <h1 class="display-3">Waiting...</h1>
        <p class="lead">Waiting for? or waiting for see you.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{ url_for('blog.index') }}" role="button">Take Me Home</a>
        </p>
    </div>
{% endif %}