{#使用bootstrap-flask擴展#}
{% from 'bootstrap/nav.html' import render_nav_item %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock title %} | {{ admin.blog_title|default('Spring Fly') }}</title>
        <link rel="icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/%s.bootstrap.min.css' % request.cookies.get('theme', 'sketchy')) }}"
              type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% endblock head %}
</head>
<body>
{% block nav %}
    <nav class="fixed-top navbar navbar-expand-md {% if request.cookies.get('theme', 'sketchy')=='sketchy' %}navbar-light bg-light{% else %}navbar-dark bg-primary{% endif %}">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('blog.index') }}">{{ admin.blog_title|default('NewLog') }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
                    aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav mr-auto">
                    {{ render_nav_item('blog.overview', 'Overview') }}
                    {{ render_nav_item('blog.about', 'About') }}
                    {% if categories %}
                        <li class="nav-item dropdown show">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="true" aria-expanded="false">Category</a>
                            <div class="dropdown-menu">
                                {% for category in categories %}
                                    <a class="dropdown-item d-flex justify-content-between"
                                       href="{{ url_for('blog.show_category', category_name=category.name) }}">
                                        {{ category.name }}
                                        <span class="badge badge-pill badge-light">{{ category.posts|length }}</span>
                                    </a>
                                {% endfor %}
                            </div>
                        </li>
                    {% endif %}

                    {% if links %}
                        <li class="nav-item dropdown show">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="true" aria-expanded="false">Link</a>
                            <div class="dropdown-menu">
                                {% for link in links %}
                                    <a class="dropdown-item" href="{{ link.url }}" target="_blank">
                                        {{ link.name }}</a>
                                {% endfor %}
                            </div>
                        </li>
                    {% endif %}

                    <li class="nav-item dropdown show">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="true" aria-expanded="false">Theme</a>
                        <div class="dropdown-menu">
                            {% for theme_name, display_name in config.BLOG_THEMES.items() %}
                                {% if display_name=='darkly' %}
                                    <div class="dropdown-divider"></div>
                                {% endif %}
                                <a class="dropdown-item"
                                   href="{{ url_for('blog.change_theme', theme_name=theme_name, next=request.full_path) }}">{{ display_name }}</a>
                            {% endfor %}
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
{% endblock nav %}

<main class="container">
    {% block content %}
    {% endblock content %}

    {% block footer %}

    {% endblock footer %}
</main>

{% block scripts %}
    <script type="application/javascript" src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
{#    <script type="application/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>#}
    <script type="application/javascript" src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='js/clipboard.min.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    {{ moment.include_moment(local_js=url_for('static', filename='js/moment-with-locales.min.js')) }}
{% endblock scripts %}

</body>
</html>